@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Pragati+Narrow&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  table{

    overflow: auto;
}
table th,td{
    border-collapse: collapse;
    border: 1px solid;
    border-color: rgb(244, 171, 75);

    padding: 20px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
              Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
              Segoe UI Symbol, Noto Color Emoji;
}
tr th{
    border: none;
    background-color: antiquewhite;
}
.hotel-container{
    position: relative;
    width: 90%;
    height: 60vh;
    /* border: 1px solid black; */
    margin: auto;
    /* border: 1px solid black; */
  }
  .hotel-scroll{
    width: 80%;
    height: 60vh;
    overflow: auto;
    margin: auto;
    
}
.hotel-text-logo{
    margin-top: 1%;
    color:orange;
    text-align: center;
    font-size: 30px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
    
}
.main-nav{
    display: flex;
    background-color:#7ce8ff;
    justify-content:space-between;
    padding: 20px;
    
}
.navbar-left{
    margin-left: 10px;
    display: flex;
}
.navbar-left .airline-option{
    margin-right: 50px;
}
.navbar-left a{
    text-decoration: none;
    color: white;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
              Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
              Segoe UI Symbol, Noto Color Emoji;
    font-size: 20px;
    
}
.search-bar{
    width: 50%;
    height: 60px;
    border-radius: 10px;
    font-size: 17px;
    margin-left: 35%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.navbar-right{
    margin-right: 10px;
}
.navbar-right a{
    text-decoration: none;
    color: Red;
    font-size: 20px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;

}
.edit-btn{
    
    width: 70px;
    padding: 5px;
    background-color:#0d6efd;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 17px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
    margin-bottom: 15px;
}
.dlete-btn{
    padding: 5px;
    width: 70px;
    border: none;
    border-radius: 4px;
    background-color:rgb(250, 186, 109);
    font-size: 17px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

/* Edit Modal CSS Start */

.hotelEditModal{
    border-radius: 15px;
    margin: auto;
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hotelEditModal input{
    margin: auto;
    height: 40px;
    border: none;
    outline: 2px solid;
    outline-color: rgb(199, 169, 244);
    margin-bottom: 15px;
    width: 90%;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
    font-size: 18px;
}
.hotelEditModal h1{
    
    margin-bottom: 20px;
    text-align: center;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
    
}
.hotelEditModal label{
    margin-left: 5%;
    font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
    font-size: 17px;
    
}
.update-btn{
    border: none;
    width: 90px;
    border-radius: 4px;
    height: 40px;
    color: white;
    background-color: orange;
    margin-bottom: 1.5%;
    
}
.btn-box{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.mainModal{

    width: 100%;
    height: 93.8%;
    position: absolute;
    z-index: 300;
    top: 60px; 
    display: none;
    background-color:rgba(0, 0, 0, 0.67)
}
/* Edit Modal CSS end */
